body{
background-color: rosybrown;
    font-family: monaco;
    font-size: 18px;
}

h1{
    text-align: center;
    color: white
}
p{
    text-align: center;
    color: white;
    background-color: darkgrey;
    padding: 7px;
}